<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="40px" 
    fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="dish">
			<md-card>
	      <md-card-header>
	        <md-card-title>
	          <h3>{{dish.name | uppercase}}</h3>
	        </md-card-title>
	      </md-card-header>
	      <img md-card-image src={{dish.image}} alt={{dish.name}}>
	      <md-card-content>
	        <p>{{dish.description}}
	        </p>
	      </md-card-content>
	      <md-card-actions>
					<button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
	      </md-card-actions>
	    </md-card>
 
  </div>

  <div fxFlex="40" >
		<div flex layout="column">
			<h3>Comments</h3>
			<md-list  *ngIf="dish">
				<md-list-item *ngFor="let review of dish.comments">
					<h1 md-line> {{review.comment}} </h1>
					<h1 md-line> {{review.rating}} Stars </h1>
					<h1 md-line> -- {{review.author}} {{review.date | date}}</h1>
				</md-list-item>
			</md-list>
		</div>	
		<div [hidden]="dish">
			<md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
		</div>
		<div *ngIf="commentForm.valid">
				<md-list>
						<md-list-item>
							<h1 md-line> {{comment.comment}} </h1>
							<h1 md-line> {{comment.rating}} Stars </h1>
							<h1 md-line> -- {{comment.author}}</h1>
						</md-list-item>
					</md-list>
		</div>
		<div class="form-size">
			<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" >
					<p>
						<md-input-container class="full-width"
						dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
							<input mdInput formControlName="author" placeholder="Name" type="text" required>
							<md-hint>
								<span [hidden]="!(formErrors.author)">
									{{formErrors.author}}</span>
							</md-hint>
						</md-input-container>	
					</p>
					<p>
						<md-slider formControlName="rating"
								class="example-margin"
								[disabled]="disabled"
								[invert]="invert"
								[max]="max"
								[min]="min"
								[step]="step"
								[thumb-label]="thumbLabel"
								[tick-interval]="tickInterval"
								[(ngModel)]="value"
								[vertical]="vertical">
						</md-slider>
					</p>
					<p>
						<md-input-container class="full-width" 
							dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
									<textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
									<md-hint>
											<span [hidden]="!(formErrors.comment)">
												{{formErrors.comment}}</span>
									</md-hint>
						</md-input-container>
					</p>
					<button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
						Submit</button>
		  </form>
		</div>
  </div>
</div>